Repository clickclackers/typedash-v2: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-vet, client-lint-staged, client-typecheck

go-vet:
  name: go vet
  entry: go vet ./...
  language: system
  pass_filenames: false

client-lint-staged:
  name: client lint-staged
  entry: bash -c 'cd client && npx lint-staged'
  language: system
  pass_filenames: false

client-typecheck:
  name: client typecheck
  entry: bash -c 'cd client && npx tsc --noEmit'
  language: system
  pass_filenames: false

chore: use react query for auth
  client/src/components/Header.tsx
  client/src/context/AuthContext.tsx
  client/src/hooks/react-query/queryKeys.ts
  client/src/hooks/react-query/useLogin.ts
  client/src/hooks/react-query/useLogout.ts
  client/src/hooks/react-query/useRegister.ts
  client/src/pages/Login.tsx
  client/src/pages/Register.tsx
Due: client-lint-staged, client-typecheck

fix: auth expired case
  client/src/pages/Account.tsx
Due: client-lint-staged, client-typecheck

[skip ci] move droplet conf
  server/droplet.conf
Due: none

chore: refactor api methods
  client/src/components/loadouts/CreateLoadoutModal.tsx
  client/src/components/loadouts/DeleteLoadoutDialog.tsx
  client/src/components/loadouts/UpdateLoadoutModal.tsx
  client/src/components/typing/MultiplayerTest.tsx
  client/src/context/AuthContext.tsx
  client/src/hooks/react-query/useCreateSingleplayerResults.ts
  client/src/hooks/react-query/useGetCategories.ts
  client/src/hooks/react-query/useGetChallengesByCategory.ts
  client/src/hooks/react-query/useGetUserOverviewStats.ts
  client/src/hooks/react-query/useLogin.ts
  client/src/hooks/react-query/useLogout.ts
  client/src/hooks/react-query/useRegister.ts
  client/src/pages/Account.tsx
  client/src/pages/Loadouts.tsx
  client/src/services/api.ts
  client/src/services/services.ts
  client/src/utils/formatDuration.ts
Due: client-lint-staged, client-typecheck

chore: update about
  client/src/pages/About.tsx
Due: client-lint-staged, client-typecheck

fix: show error toast on login fail
  client/src/hooks/react-query/useLogin.ts
  client/src/react-query.d.ts
Due: client-lint-staged, client-typecheck

feat: complete single results crud
  client/src/hooks/react-query/useCreateSingleplayerResults.ts
  server/api/handlers/auth.go
  server/api/handlers/results_single.go
  server/api/handlers/single_challenge_stats.go
  server/api/routes/multi_challenge_stats.go
  server/api/routes/single_challenge_stats.go
  server/api/routes/user_overview_stats.go
  server/database.go
  server/db/queries/user_overview_stats.sql
  server/db/sqlc/user_overview_stats.sql.go
  server/main.go
Due: go-vet, client-lint-staged, client-typecheck

chore: remove console log
  client/src/hooks/react-query/useCreateSingleplayerResults.ts
Due: client-lint-staged, client-typecheck

Apply suggestions from code review
  server/api/handlers/auth.go
Due: go-vet

chore: refactor and cleanup
  client/src/challenges/algorithms.json
  client/src/challenges/books.json
  client/src/challenges/challenge.interface.ts
  client/src/challenges/randomChallenge.ts
  client/src/challenges/songs.json
  client/src/challenges/words.json
  client/src/components/typing/MultiplayerTest.tsx
  client/src/components/typing/TypingTest.tsx
  client/src/components/typing/Word.tsx
  client/src/components/typing/wordStatus.ts
  client/src/pages/Multiplayer.tsx
  client/src/services/socket.ts
Due: client-lint-staged, client-typecheck

refactor: create category select component
  client/src/components/typing/CategorySelect.tsx
  client/src/components/typing/MultiplayerTest.tsx
  client/src/components/typing/Result.tsx
  client/src/components/typing/TypingTest.tsx
  client/src/pages/Multiplayer.tsx
Due: client-lint-staged, client-typecheck

feat: debounce refocus overlay
  .gitignore
  client/.gitignore
  client/src/components/typing/TypingTest.tsx
  client/src/pages/Account.tsx
  client/src/pages/Multiplayer.tsx
  client/src/utils/utils.ts
  package.json
  pnpm-lock.yaml
Due: client-lint-staged, client-typecheck

fix: lodash dep
  client/package.json
  client/pnpm-lock.yaml
  client/src/components/typing/MultiplayerTest.tsx
  package.json
  pnpm-lock.yaml
Due: client-lint-staged, client-typecheck

chore: remove console log
  client/src/components/typing/TypingTest.tsx
Due: client-lint-staged, client-typecheck

fix: clean up debounce
  client/src/components/typing/MultiplayerTest.tsx
  client/src/components/typing/TypingTest.tsx
Due: client-lint-staged, client-typecheck

style: mono font
  client/src/components/typing/CategorySelect.tsx
  client/src/components/typing/Letter.tsx
  client/src/components/typing/TypingTest.tsx
Due: client-lint-staged, client-typecheck

refactor: update imports to default exports and remove unused components
  client/src/components/Header.tsx
  client/src/components/typing/Caret.tsx
  client/src/components/typing/CategorySelect.tsx
  client/src/components/typing/Letter.tsx
  client/src/components/typing/MultiplayerTest.tsx
  client/src/components/typing/Result.tsx
  client/src/components/typing/TypingCaret.tsx
  client/src/components/typing/TypingTest.tsx
  client/src/components/typing/Word.tsx
  client/src/hooks/react-query/useCreateSingleplayerResults.ts
  client/src/hooks/react-query/useGetCategories.ts
  client/src/hooks/react-query/useGetChallengesByCategory.ts
  client/src/hooks/react-query/useGetUserOverviewStats.ts
  client/src/hooks/react-query/useLogin.ts
  client/src/hooks/react-query/useLogout.ts
  client/src/hooks/react-query/useRegister.ts
  client/src/hooks/useAuth.ts
  client/src/index.css
  client/src/pages/Account.tsx
  client/src/pages/Login.tsx
  client/src/pages/MultiplayerRoom.tsx
  client/src/pages/Register.tsx
Due: client-lint-staged, client-typecheck

chore: comment
  client/src/components/typing/TypingCaret.tsx
Due: client-lint-staged, client-typecheck

chore: address pr comments
  client/src/components/typing/TypingCaret.tsx
  client/src/components/typing/Word.tsx
Due: client-lint-staged, client-typecheck

feat: refine caret and refocus overlay
  client/src/components/typing/TypingCaret.tsx
  client/src/components/typing/TypingTest.tsx
  client/src/index.css
Due: client-lint-staged, client-typecheck

feat: refine refocus overlay
  client/src/components/typing/TypingTest.tsx
  client/src/index.css
Due: client-lint-staged, client-typecheck

style: remove fixed height on word to align caret
  client/src/components/typing/Word.tsx
Due: client-lint-staged, client-typecheck

feat: restrict shortcuts in typing test
  client/src/components/typing/TypingTest.tsx
Due: client-lint-staged, client-typecheck

style: refine typing text
  client/src/components/typing/TypingTest.tsx
Due: client-lint-staged, client-typecheck

style: result page
  client/src/components/typing/Result.tsx
Due: client-lint-staged, client-typecheck

update dependencies
  client/pnpm-lock.yaml
  server/go.mod
  server/go.sum
Due: client-lint-staged, client-typecheck

add redis to docker compose file and add connection logic
  server/compose.dev.yaml
  server/go.mod
  server/go.sum
  server/redis.go
Due: go-vet

edit build deploy yaml for migration to ovh
  .github/workflows/build-and-deploy.yaml
Due: none

change api to api2 for caddyfile
  server/Caddyfile
Due: none

initialise secrets in ovh
  .github/workflows/build-and-deploy.yaml
Due: none

style: refine result page
  client/src/components/typing/Result.tsx
Due: client-lint-staged, client-typecheck

feat: refine avg wpm
  client/src/pages/Account.tsx
Due: client-lint-staged, client-typecheck

feat: floor accuracy
  client/src/components/typing/Result.tsx
Due: client-lint-staged, client-typecheck

feat: create, join and leave room
  client/src/components/Header.tsx
  client/src/components/toast.ts
  client/src/components/typing/MultiplayerTest.tsx
  client/src/hooks/react-query/useLogin.ts
  client/src/main.tsx
  client/src/pages/Login.tsx
  client/src/pages/Multiplayer.tsx
  client/src/pages/MultiplayerRoom.tsx
  client/src/pages/Register.tsx
  client/src/services/api.ts
  client/vite.config.ts
  server/go.mod
  server/go.sum
  server/main.go
  server/redis.go
  server/room.go
  server/websocket.go
Due: go-vet, client-lint-staged, client-typecheck

feat: multiplayer socket create, join, progress logic
  client/src/components/Footer.tsx
  client/src/components/typing/MultiplayerTest.tsx
  client/src/components/typing/SingleplayerTest.tsx
  client/src/pages/Multiplayer.tsx
  client/src/pages/MultiplayerRoom.tsx
  client/src/pages/Singleplayer.tsx
  server/room.go
  server/websocket.go
Due: go-vet, client-lint-staged, client-typecheck

feat: refine caret focus and refocus overlay
  client/src/components/typing/MultiplayerTest.tsx
  client/src/components/typing/Result.tsx
  client/src/components/typing/SingleplayerTest.tsx
  client/src/pages/MultiplayerRoom.tsx
  server/room.go
Due: go-vet, client-lint-staged, client-typecheck

fix: rand import
  server/room.go
  server/websocket.go
Due: go-vet

feat: multi results page
  client/src/components/typing/MultiplayerTest.tsx
  client/src/components/typing/Results.tsx
  client/src/components/typing/SingleplayerTest.tsx
  client/src/pages/Multiplayer.tsx
  client/src/pages/MultiplayerRoom.tsx
  server/room.go
  server/websocket.go
Due: go-vet, client-lint-staged, client-typecheck

feat: use localstorage for multi category
  client/src/components/typing/SingleplayerTest.tsx
  client/src/pages/Multiplayer.tsx
Due: client-lint-staged, client-typecheck

refactor: layout components
  client/src/App.tsx
  client/src/components/layout/Footer.tsx
  client/src/components/layout/Header.tsx
  client/src/components/layout/Layout.tsx
Due: client-lint-staged, client-typecheck

Path conditions:
  go-vet: any of: \.go$, but not: ^$
  client-lint-staged: any of: ^client/
  client-typecheck: any of: ^client/
