Repository clickclackers/typedash-v2: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-vet, client-lint-staged, client-typecheck

go-vet:
  name: go vet
  entry: go vet ./...
  language: system
  pass_filenames: false

client-lint-staged:
  name: client lint-staged
  entry: bash -c 'cd client && npx lint-staged'
  language: system
  pass_filenames: false

client-typecheck:
  name: client typecheck
  entry: bash -c 'cd client && npx tsc --noEmit'
  language: system
  pass_filenames: false

feat: add mutex locks and atomic socket close
  client/src/components/typing/MultiplayerTest.tsx
  client/src/pages/MultiplayerRoom.tsx
  server/room.go
  server/websocket.go
Due: go-vet, client-lint-staged, client-typecheck

fix: word greyed on space
  client/src/components/typing/MultiplayerTest.tsx
Due: client-lint-staged, client-typecheck

refactor: singleplayertest
  client/src/components/typing/SingleplayerTest.tsx
  client/src/pages/Singleplayer.tsx
Due: client-lint-staged, client-typecheck

chore: remove caddyfile and use vps nginx as source of truth
  .github/workflows/build-and-deploy.yaml
  server/Caddyfile
Due: none

chore: remove caddy from compose
  server/.dockerignore
  server/compose.prod.yaml
  server/droplet.conf
Due: none

feat: log typedash nginx conf
  nginx-typedash.conf
Due: none

feat: expose server port to local
  server/compose.prod.yaml
Due: none

fix: code review
  nginx-typedash.conf
Due: none

fix: add migrate install
  .github/workflows/build-and-deploy.yaml
Due: none

feat: update api url
  client/src/pages/Multiplayer.tsx
  client/src/pages/MultiplayerRoom.tsx
  client/src/services/api.ts
Due: client-lint-staged, client-typecheck

Revert "feat: update api url"
  client/src/pages/Multiplayer.tsx
  client/src/pages/MultiplayerRoom.tsx
  client/src/services/api.ts
Due: client-lint-staged, client-typecheck

feat: whitelist deploy preview
  server/main.go
Due: go-vet

chore: update seed
  server/db/seed.sql
Due: none

chore: remove whitelist
  server/main.go
Due: go-vet

fix: caret not advancing on android
  client/src/components/typing/MultiplayerTest.tsx
  client/src/components/typing/SingleplayerTest.tsx
  client/src/pages/MultiplayerRoom.tsx
  client/vite.config.ts
Due: client-lint-staged, client-typecheck

fix: update typing progress calculation in MultiplayerTest and reset client rank in room
  client/src/components/typing/MultiplayerTest.tsx
  server/room.go
Due: go-vet, client-lint-staged, client-typecheck

refactor: update secrets workflow
  .github/workflows/build-and-deploy.yaml
  .github/workflows/update-secrets.yaml
Due: none

chore: add tests for race conditions
  server/race_test.go
  server/room.go
  server/websocket.go
Due: go-vet

chore: add load test
  server/cmd/loadtest/README.md
  server/cmd/loadtest/go.mod
  server/cmd/loadtest/go.sum
  server/cmd/loadtest/loadtest-linux
  server/cmd/loadtest/main.go
  server/race_test.go
Due: go-vet

Path conditions:
  go-vet: any of: \.go$, but not: ^$
  client-lint-staged: any of: ^client/
  client-typecheck: any of: ^client/
