Repository clickclackers/typedash-v2: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-vet, client-lint-staged, client-typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-fmt
      - id: go-imports
      - id: golangci-lint

  - repo: local
    hooks:
      - id: go-vet
        name: go vet
        entry: go vet ./...
        language: system
        types: [go]
        pass_filenames: false
        exclude: ^$

  - repo: local
    hooks:
      - id: client-lint-staged
        name: client lint-staged
        entry: bash -c 'cd client && npx lint-staged'
        language: system
        files: ^client/
        pass_filenames: false

      - id: client-typecheck
        name: client typecheck
        entry: bash -c 'cd client && npx tsc --noEmit'
        language: system
        files: ^client/
        pass_filenames: false

test: enable ci for feature branch
  .github/workflows/build-and-deploy.yaml
Due: none

fix: workflow secrets
  .github/workflows/build-and-deploy.yaml
  server/compose.prod.yaml
Due: none

fix: expose port 443 for https
  server/Dockerfile
Due: none

test: enable latest for all branches
  .github/workflows/build-and-deploy.yaml
Due: none

feat: add caddy to compose
  .github/workflows/build-and-deploy.yaml
  server/Caddyfile
  server/Dockerfile
  server/compose.prod.yaml
Due: none

fix: caddyfile and compose secrets
  .github/workflows/build-and-deploy.yaml
  server/Caddyfile
  server/compose.prod.yaml
Due: none

feat: setup docker secrets
  .github/workflows/build-and-deploy.yaml
  server/api/handlers/middleware.go
  server/compose.prod.yaml
  server/compose.yaml
  server/database.go
  server/main.go
Due: go-vet

feat: dont expose db port
  server/compose.prod.yaml
  server/database.go
Due: go-vet

fix: docker compose path
  .github/workflows/build-and-deploy.yaml
Due: none

fix: always pull docker image
  .github/workflows/build-and-deploy.yaml
Due: none

fix: api base url
  client/.env.example
  client/src/services/api.ts
Due: client-lint-staged, client-typecheck

feat: expose db to localhost
  server/compose.prod.yaml
Due: none

feat: run db migrations in ci
  .github/workflows/build-and-deploy.yaml
Due: none

test: ci
  server/main.go
Due: go-vet

chore: remove fingerprint for now
  .github/workflows/build-and-deploy.yaml
Due: none

fix: disable ssl for migrate
  .github/workflows/build-and-deploy.yaml
Due: none

fix: ci scp migrations
  .github/workflows/build-and-deploy.yaml
Due: none

chore: remove localhost from cors
  server/main.go
Due: go-vet

chore: remove workflow test flag
  .github/workflows/build-and-deploy.yaml
Due: none

chore: remove test category
  client/src/challenges/randomChallenge.ts
  server/api/handlers/single_challenge_stats.go
Due: go-vet, client-lint-staged, client-typecheck

chore: droplet conf
  droplet.conf
  wrangler.toml
Due: none

chore: readme
  README.md
Due: none

chore: dockerfile and compose filenames
  .github/workflows/build-and-deploy.yaml
  Makefile
  server/Dockerfile
  server/Dockerfile.prod
  server/compose.dev.yaml
Due: none

chore: local cors
  server/main.go
Due: go-vet

chore: refactor go mod and sum files
  .dockerignore
  .pre-commit-config.yaml
  Makefile
  client/pnpm-lock.yaml
  server/.dockerignore
  server/Dockerfile.dev
  server/Dockerfile.prod
  server/api/handlers/auth.go
  server/api/handlers/challenges.go
  server/api/handlers/multi_challenge_stats.go
  server/api/handlers/single_challenge_stats.go
  server/api/handlers/user_overview_stats.go
  server/api/routes/challenges.go
  server/api/routes/multi_challenge_stats.go
  server/api/routes/single_challenge_stats.go
  server/api/routes/user_overview_stats.go
  server/compose.dev.yaml
  server/database.go
  server/go.mod
  server/go.sum
  server/main.go
Due: go-vet, client-lint-staged, client-typecheck

feat: improve make dev script
  Makefile
Due: none

fix: ci docker context
  .github/workflows/build-and-deploy.yaml
Due: none

chore: update workflow
  .github/workflows/build-and-deploy.yaml
Due: none

feat: create categories table
  Makefile
  server/db/migrations/000001_init_schema.up.sql
  server/db/migrations/000002_category_table.down.sql
  server/db/migrations/000002_category_table.up.sql
  server/db/seed.sql
  server/db/seeds/challenges.sql
Due: none

feat (wip): fetch categories from db
  client/src/components/typing/TypingTest.tsx
  client/src/hooks/react-query/queryKeys.ts
  client/src/hooks/react-query/useGetCategories.ts
  client/src/hooks/react-query/useGetChallengesByCategory.ts
  client/src/services/api.ts
  client/src/services/types.ts
  server/api/handlers/categories.go
  server/api/handlers/challenges.go
  server/api/routes/categories.go
  server/db/queries/categories.sql
  server/db/queries/challenges.sql
  server/db/sqlc/categories.sql.go
  server/db/sqlc/challenges.sql.go
  server/db/sqlc/db.go
  server/db/sqlc/models.go
  server/db/sqlc/multi_challenge_stats.sql.go
  server/db/sqlc/single_challenge_stats.sql.go
  server/db/sqlc/user_overview_stats.sql.go
  server/db/sqlc/users.sql.go
  server/main.go
Due: go-vet, client-lint-staged, client-typecheck

chore: simplify challenges and category routes
  Makefile
  server/api/routes/categories.go
  server/api/routes/challenges.go
  server/main.go
Due: go-vet

feat: add category description col
  client/src/components/typing/TypingTest.tsx
  client/src/services/types.ts
  server/db/migrations/000003_category_desc.down.sql
  server/db/migrations/000003_category_desc.up.sql
  server/db/seed.sql
  server/db/sqlc/categories.sql.go
  server/db/sqlc/challenges.sql.go
  server/db/sqlc/models.go
Due: go-vet, client-lint-staged, client-typecheck

feat: scp seed.sql in ci
  .github/workflows/build-and-deploy.yaml
Due: none

chore: simplify scp in ci
  .github/workflows/build-and-deploy.yaml
Due: none

[skip ci] chore: update readme
  README.md
Due: none

[skip ci] chore: refine comment
  server/database.go
Due: go-vet

feat: add cert for https between cf and server
  server/Caddyfile
  server/compose.prod.yaml
Due: none

feat: save result only if logged in
  client/src/components/typing/TypingTest.tsx
Due: client-lint-staged, client-typecheck

chore: rename query field
  client/src/components/typing/TypingTest.tsx
  client/src/services/types.ts
  server/db/queries/challenges.sql
  server/db/sqlc/challenges.sql.go
Due: go-vet, client-lint-staged, client-typecheck

chore: migrate to use http only cookies for auth
  client/src/context/AuthContext.tsx
  client/src/pages/Login.tsx
  client/src/pages/Register.tsx
  client/src/services/api.ts
  client/src/services/types.ts
  client/vite.config.ts
  server/api/handlers/auth.go
  server/api/handlers/middleware.go
  server/main.go
Due: go-vet, client-lint-staged, client-typecheck
