Repository clickclackers/typedash-v2: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-vet, client-lint-staged, client-typecheck

go-vet:
  name: go vet
  entry: go vet ./...
  language: system
  pass_filenames: false

client-lint-staged:
  name: client lint-staged
  entry: bash -c 'cd client && npx lint-staged'
  language: system
  pass_filenames: false

client-typecheck:
  name: client typecheck
  entry: bash -c 'cd client && npx tsc --noEmit'
  language: system
  pass_filenames: false

chore: use enum for word status
  client/src/components/typing/MultiplayerTest.tsx
  client/src/components/typing/TypingTest.tsx
  client/src/components/typing/Word.tsx
  client/src/components/typing/wordStatus.ts
Due: client-lint-staged, client-typecheck

chore: code quality
  client/src/components/typing/TypingTest.tsx
Due: client-lint-staged, client-typecheck

feat: improve wpm calculation
  client/src/components/typing/TypingTest.tsx
Due: client-lint-staged, client-typecheck

fix: handle 0 correct chars case
  client/src/components/typing/TypingTest.tsx
Due: client-lint-staged, client-typecheck

chore: update makefile
  Makefile
Due: none

fix: auth
  client/src/App.tsx
  client/src/components/Header.tsx
  client/src/components/typing/MultiplayerTest.tsx
  client/src/components/typing/TypingTest.tsx
  client/src/context/AuthContext.tsx
  client/src/context/SocketContext.tsx
  client/src/hooks/useAuth.ts
  client/src/hooks/useSocket.ts
  client/src/routes/Account.tsx
  client/src/routes/Login.tsx
  client/src/routes/Multiplayer.tsx
  client/src/routes/MultiplayerRoom.tsx
  client/src/routes/Register.tsx
  server/api/handlers/auth.go
  server/db/queries/users.sql
  server/db/sqlc/users.sql.go
  server/main.go
Due: go-vet, client-lint-staged, client-typecheck

chore: update make dev to start and stop brew services
  Makefile
Due: none

feat: wip toast for auth
  client/src/services/apiClient.ts
Due: client-lint-staged, client-typecheck

feat: tanstack query
  client/package.json
  client/pnpm-lock.yaml
  client/src/App.tsx
  client/src/hooks/useUserOverviewStats.ts
  client/src/pages/Account.tsx
  client/src/services/apiClient.ts
Due: client-lint-staged, client-typecheck

chore: api instance
  client/src/components/Header.tsx
  client/src/components/typing/MultiplayerTest.tsx
  client/src/components/typing/TypingTest.tsx
  client/src/hooks/useUserOverviewStats.ts
  client/src/pages/Login.tsx
  client/src/pages/Register.tsx
  client/src/services/api.ts
  client/src/services/apiClient.ts
  client/src/services/services.ts
Due: client-lint-staged, client-typecheck

Update client/src/pages/Account.tsx
  client/src/pages/Account.tsx
Due: client-lint-staged, client-typecheck

chore: handle error toast
  client/src/services/api.ts
Due: client-lint-staged, client-typecheck

fix: build error
  client/src/hooks/useUserOverviewStats.ts
  client/src/pages/Account.tsx
  client/src/services/api.ts
Due: client-lint-staged, client-typecheck

fix: log user out if token is expired
  client/src/context/AuthContext.tsx
  client/src/services/api.ts
  server/api/handlers/auth.go
Due: go-vet, client-lint-staged, client-typecheck

chore: api and toast refactor
  client/src/components/Header.tsx
  client/src/components/toast.ts
  client/src/hooks/useUserOverviewStats.ts
  client/src/pages/Account.tsx
  client/src/pages/Loadouts.tsx
  client/src/pages/Login.tsx
  client/src/pages/Multiplayer.tsx
  client/src/pages/MultiplayerRoom.tsx
  client/src/pages/Register.tsx
  client/src/services/api.ts
  client/src/services/types.ts
Due: client-lint-staged, client-typecheck

feat: show toast on 4xx and 5xx errors
  client/src/components/Header.tsx
  client/src/pages/Login.tsx
  client/src/pages/Register.tsx
  client/src/services/api.ts
Due: client-lint-staged, client-typecheck

refactor: improve user overview stats handling
  client/src/hooks/useUserOverviewStats.ts
  client/src/pages/Account.tsx
  server/api/handlers/auth.go
  server/api/handlers/middleware.go
  server/api/handlers/multi_challenge_stats.go
  server/api/handlers/single_challenge_stats.go
  server/api/handlers/user_overview_stats.go
  server/main.go
Due: go-vet, client-lint-staged, client-typecheck

fix: grammar
  client/src/pages/Register.tsx
Due: client-lint-staged, client-typecheck

feat: redirect to home if already logged in
  client/src/pages/Login.tsx
  client/src/pages/Register.tsx
Due: client-lint-staged, client-typecheck

fix: remove test challenge
  client/src/helpers/randomChallenge.ts
Due: client-lint-staged, client-typecheck

feat: reduce default toast duration
  client/src/components/toast.ts
Due: client-lint-staged, client-typecheck

fix: api instance
  client/src/services/api.ts
Due: client-lint-staged, client-typecheck

[skip ci] chore: update readme
  README.md
Due: none

feat: update footer link
  client/src/components/Footer.tsx
Due: client-lint-staged, client-typecheck

feat: deploy workflow
  .github/workflows/deploy.yaml
Due: none

feat: update environment variables and Docker configurations for production deployment
  .env.example
  .github/workflows/build-and-deploy.yaml
  Makefile
  server/compose.prod.yaml
  server/compose.yaml
  server/database.go
  server/redis.go
  server/room.go
  server/websocket.go
Due: go-vet

feat: add docker setup command history
  droplet.conf
Due: none

feat: create singleplayer results
  client/src/App.tsx
  client/src/challenges/algorithms.json
  client/src/challenges/books.json
  client/src/challenges/challenge.interface.ts
  client/src/challenges/randomChallenge.ts
  client/src/challenges/songs.json
  client/src/challenges/words.json
  client/src/components/Layout.tsx
  client/src/components/loadouts/CreateLoadoutModal.tsx
  client/src/components/loadouts/DeleteLoadoutDialog.tsx
  client/src/components/loadouts/UpdateLoadoutModal.tsx
  client/src/components/typing/MultiplayerTest.tsx
  client/src/components/typing/TypingTest.tsx
  client/src/components/typing/results/Result.tsx
  client/src/hooks/react-query/queryKeys.ts
  client/src/hooks/react-query/useCreateSingleplayerResults.ts
  client/src/hooks/react-query/useGetChallengesByCategory.ts
  client/src/hooks/react-query/useGetUserOverviewStats.ts
  client/src/hooks/useTimer.ts
  client/src/main.tsx
  client/src/pages/Account.tsx
  client/src/pages/Multiplayer.tsx
  client/src/pages/MultiplayerRoom.tsx
  client/src/react-query.d.ts
  client/src/services/api.ts
  client/src/services/socket.ts
  client/src/services/types.ts
  server/api/handlers/challenges.go
  server/api/routes/challenges.go
  server/db/migrations/000001_init_schema.down.sql
  server/main.go
Due: go-vet, client-lint-staged, client-typecheck

chore: docker config
  .dockerignore
  server/Dockerfile
Due: none

feat: server dockerfile
  server/Dockerfile
Due: none

feat: add challenge seed
  client/src/components/typing/TypingTest.tsx
  client/src/components/typing/Word.tsx
  client/src/helpers/randomChallenge.ts
  server/api/handlers/single_challenge_stats.go
  server/api/routes/multi_challenge_stats.go
  server/api/routes/single_challenge_stats.go
  server/db/seeds/challenges.sql
Due: go-vet, client-lint-staged, client-typecheck

fix: caret disappear at start of word bug and improvements
  client/src/components/typing/TypingTest.tsx
  client/src/components/typing/Word.tsx
  client/src/pages/Account.tsx
  client/src/services/api.ts
  server/api/handlers/challenges.go
  server/main.go
Due: go-vet, client-lint-staged, client-typecheck

wip
  client/src/components/typing/TypingTest.tsx
  client/src/hooks/useCreateSingleplayerResults.ts
  client/src/hooks/useGetUserOverviewStats.ts
  client/src/pages/Account.tsx
  client/src/services/api.ts
  client/src/services/types.ts
  server/api/handlers/single_challenge_stats.go
  server/api/handlers/user_overview_stats.go
  server/api/routes/multi_challenge_stats.go
  server/api/routes/single_challenge_stats.go
  server/api/routes/user_overview_stats.go
  server/main.go
Due: go-vet, client-lint-staged, client-typecheck

chore: refactor files and functions
  Makefile
  README.md
  client/pnpm-lock.yaml
  client/src/components/Header.tsx
  client/src/components/typing/ProgressBar.tsx
  client/src/components/typing/TypingTest.tsx
  client/src/hooks/useGetUserOverviewStats.ts
  client/src/hooks/useUserOverviewStats.ts
  client/src/pages/Account.tsx
  client/src/pages/Login.tsx
  client/src/pages/Register.tsx
  client/src/services/api.ts
  go.mod
  go.sum
  server/main.go
Due: go-vet, client-lint-staged, client-typecheck

feat: docker compose dev
  Makefile
  server/Dockerfile
  server/Dockerfile.dev
  server/compose.yaml
Due: none

feat: deploy workflow
  server/compose.yaml
  server/main.go
Due: go-vet

feat: remove header typedash click
  client/src/components/Header.tsx
Due: client-lint-staged, client-typecheck

feat: add leading slash in api req
  .github/workflows/build-and-deploy.yaml
  client/src/services/api.ts
Due: client-lint-staged, client-typecheck

Path conditions:
  go-vet: any of: \.go$, but not: ^$
  client-lint-staged: any of: ^client/
  client-typecheck: any of: ^client/
